.unique-sidebar {
    width: 250px;
    background-color: #2C3E50;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
  }
  
  .unique-sidebar-list {
    list-style-type: none;
    padding: 0;
  }
  
  .unique-sidebar-item {
   
    margin: 20px 0;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .unique-sidebar-item:hover,
  .unique-sidebar-item.active {
    background-color: #34495E;
    color:rgb(113, 81, 255);
  }

  .unique-sidebar-logo{
    width: 200px;
    height: 200px;
  }
  